Django>=5.2
djangorestframework>=3.14
django-cors-headers>=4.3
pillow>=10.0
python-dotenv>=1.0
psycopg2-binary>=2.9
djangorestframework-simplejwt>=5.3
django-allauth>=0.61.0
requests>=2.31
cryptography>=41.0
gunicorn>=21.0
whitenoise>=6.7
